@media(min-width:993px) and (max-width:1199px) {

    #mynav ul li {
        padding: 20px 4px;
    }

    #mynav ul li a {
        font-size: 15px;
    }

    .edu_text_one::before {
        right: -31%;
        -webkit-transform: translate(-42%, -50%)rotate(45deg);
        transform: translate(-42%, -50%)rotate(45deg);
    }

    .edu_text_two::before {
        left: -27%;
        -webkit-transform: translate(-36%, -50%)rotate(45deg);
        transform: translate(-36%, -50%)rotate(45deg);
    }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu {width: 235px;}
    nav.navbar.bootsnav ul.nav > li > a {font-size: 15px;}
    .dropdown-menu > li > a { font-size: 14px;}
    .intro_com1 h1, .intro_com h1 {font-size: 30px;margin-top: 20px;margin-bottom: 20px; margin-left: 10px;}
    .intro_com h1 span {top: -5px;}
    .intro_com h1 {padding-left: 20%;}
    .performer-box ul.last_pick li {
    max-width: 28%; }
}

@media(min-width:768px) and (max-width:992px) {

    .banner_part,
    .banner_part_two,
    .banner_part_three,
    .banner_part_four,
    .banner_part_five {
        height: 500px;
    }
    
    .edu_slider::before {
        display: none;
    }

    .banner_text_two {
        width: 100%;
    }

    .banner_text p,
    .banner_text_two p {
        max-width: 550px;
        display: inline-block;
    }

    .banner_text h2,
    .banner_text_two h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .banner_text h3,
    .banner_text_two h3,
    .banner_text_three h3 {
        font-size: 35px;
        padding: 10px 0;
    }

    .edu_slider {
        margin: 0;
        padding: 0;
    }

    .edu_text,
    .edu_text_one,
    .edu_text_two {
        text-align: center;
    }

    .prev_arrow,
    .next_arrow,
    .arrow_dwn {
        display: none !important;
    }

    .arrow_up {
        bottom: -70px;
    }
    
    .edu_slider{
        margin-bottom: 45px;
    }

    .edu_text_one::before,
    .edu_text_one::after,
    .edu_text_two::before,
    .edu_text_two::after {
        display: none;
    }

    #mynav ul {
        display: block;
        margin-top: 20px;
        background: rgba(10, 45, 124, .7);
    }

    #mynav ul li {
        padding: 0px;
    }

    #mynav ul li a {
        text-align: center;
    }

    .nav-link.active::after,
    .nav-link.active::before {
        visibility: hidden;
    }

    .blog {
        margin-bottom: 30px;
    }
    .intro_com1 h1, .intro_com h1 {font-size: 30px;margin-top: 20px;margin-bottom: 20px; margin-left: 10px;}
    .intro_com h1 span {top: -5px;}
    .intro_com h1 {padding-left: 20%;}
    .characters_left_box {float: none;width: 225px;margin: 0 auto;}
.characters_left_box span{float: none;display: block;margin: 0;}
.characters_left_box h4 {width: 100%;margin-top: 15px;float: none;}
.characters_right_box {float: none;width: 100%;margin-top: 20px;}
.custom_bg1 .col-md-6{width: 50%;float: left;padding-right: 15px;padding-left: 15px;}
.intro_com1 h1::before{display: none;}
nav.navbar.bootsnav{padding: 5px 0px;min-height: 80px;}
nav.navbar.bootsnav .navbar-brand{float: left !important;width: 75px;display: block;}
.navbar-brand > img {display: block;width: 100%;}
nav.navbar.bootsnav .navbar-toggle{float: right;margin: 12px 0 0 0;color: #fff;font-size: 30px;}
nav.navbar.bootsnav .navbar-nav > li {margin: 0;}
nav.navbar.bootsnav .navbar-nav{margin-top: 20px;}
nav.navbar.bootsnav ul.nav > li > a {font-size: 17px;}
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {color: #cc0000; }
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:hover {color: #ffcc33;background: none; }
.pull-right {margin: 10px 0;}
.navbar-collapse{box-shadow: none;}
.contact-map h3 {top: 28%;font-size: 30px;}
.contact-sec .contact_left {width: 60%;padding: 15px;}
.contact-sec .contact_left h3 {font-size: 20px;}
.contact-sec .contact_left form div.group {padding-right: 15px;margin: 25px 0 0 0;}
.contact-sec .contact_right {width: 40%;padding: 15px;}
.contact-sec .contact_right h3 {font-size: 18px;}
.contact-sec .contact_right div {padding: 10px 0;}
.intro_com1 p{padding: 10px;}
.content_box p { padding: 10px;}
.intro_com1 h3{text-align: center;}
.modal-header .close{width: 40px;height: 40px;}
.modal-header{height: 40px;}
.modal-title{ padding-top: 10px; font-size: 16px;}
.customNavigation .btn {font-size: 28px;width: 35px;height: 35px;padding: 1px;top: -25px;}
.performer-box ul.last_pick li { max-width: 22%;}
nav.navbar.bootsnav .navbar-brand{font-size: 12px;}
}

@media(min-width:576px) and (max-width:767px) {
.performer-box ul.last_pick li {
    max-width: 20%;
}
.performer-box ul.last_pick {
    display: block;
}
    .banner_part,
    .banner_part_two,
    .banner_part_three,
    .banner_part_four,
    .banner_part_five {
        height: 500px;
    }

    .banner_text_two {
        width: 100%;
    }

    .banner_text p,
    .banner_text_two p {
        max-width: 550px;
    }

    .banner_text h2,
    .banner_text_two h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .banner_text h3,
    .banner_text_two h3,
    .banner_text_three h3 {
        font-size: 35px;
        padding: 10px 0;
    }

    .typed span {
        font-size: 20px;
    }

    .footer_left p {
        padding-bottom: 15px;
    }

    .test_head_text h2 {
        padding-top: 45px;
        padding-bottom: 0;
    }

    .blog {
        margin: 15px 0;
    }

    .bar p {
        padding-top: 15px;
    }

    .hire_text h3 {
        font-size: 28px;
    }

    .hire_part {
        height: 208px;
    }

    .port_menu ul li {
        padding: 0px 5px;
    }
    .edu_text a {
        right: 20px;
        bottom: 31px;
    }

    .port_menu ul li.port_active {
        padding: 0px 7px;
    }
    .edu_slider::before {
        display: none;
    }

    .edu_slider {
        margin: 0;
        padding: 0;
    }

    .edu_text,
    .edu_text_one,
    .edu_text_two {
        text-align: center;
    }

    .prev_arrow,
    .next_arrow,
    .arrow_dwn {
        display: none !important;
    }

    .arrow_up {
        bottom: -70px;
    }
    
    .edu_slider{
        margin-bottom: 45px;
    }

    .edu_text_one::before,
    .edu_text_one::after,
    .edu_text_two::before,
    .edu_text_two::after {
        display: none;
    }

    #mynav ul {
        display: block;
        margin-top: 20px;
        background: rgba(10, 45, 124, .7);
    }

    #mynav ul li {
        padding: 0px;
    }

    #mynav ul li a {
        text-align: center;
    }

    .nav-link.active::after,
    .nav-link.active::before {
        visibility: hidden;
    }

    .blog {
        margin-bottom: 30px;
    }

    .form_break {
        margin-top: 10px;
    }

    .contact_text p {
        font-size: 14px;
    }
    .intro_com1 h1, .intro_com h1 {font-size: 30px;margin-top: 20px;margin-bottom: 20px; margin-left: 10px;}
    .intro_com h1 span {top: -5px;}
    .intro_com h1 {padding-left: 20%;}
    .characters_left_box {float: none;width: 225px;margin: 0 auto;}
.characters_left_box span{float: none;display: block;margin: 0;}
.characters_left_box h4 {width: 100%;margin-top: 15px;float: none;}
.characters_right_box {float: none;width: 100%;margin-top: 20px;}
.custom_bg1 .col-md-6{width: 50%;float: left;padding-right: 15px;padding-left: 15px;}
.intro_com1 h1::before{display: none;}
nav.navbar.bootsnav{padding: 5px 0px;min-height: 80px;}
nav.navbar.bootsnav .navbar-brand{float: left !important;width: 75px;display: block;}
.navbar-brand > img {display: block;width: 100%;}
nav.navbar.bootsnav .navbar-toggle{float: right;margin: 12px 0 0 0;color: #fff;font-size: 30px;}
nav.navbar.bootsnav .navbar-nav > li {margin: 0;}
nav.navbar.bootsnav .navbar-nav{margin-top: 20px;}
nav.navbar.bootsnav ul.nav > li > a {font-size: 17px;}
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {color: #cc0000; }
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:hover {color: #ffcc33;background: none; }
.pull-right {margin: 10px 0;}
.navbar-collapse{box-shadow: none;}
.footer_part {margin-top: 20px;}
.contact-map h3 {top: 28%;font-size: 30px;}
.contact-sec {margin-top: -100px;margin-left: 15px;margin-right: 15px;}
.contact-sec .contact_left {width: 100%;padding: 15px;float: none;}
.contact-sec .contact_left h3 {font-size: 20px;}
.contact-sec .contact_left form div.group {padding-right: 15px;margin: 25px 0 0 0;}
.contact-sec .contact_right {width: 100%;padding: 15px;float: none;}
.contact-sec .contact_right h3 {font-size: 18px;}
.contact-sec .contact_right div {padding: 10px 0;}
.har_shop_item_vinyl{ display: none; }
.har_shop_al_item_bl:hover .har_shop_al_item::after { left:0px;}
.har_shop_al_item_bl:hover .har_shop_item_env {  right: 0px;}
.har_shop_al_item_bl:hover .har_shop_item_vinyl { right: 0px;}
.intro_com1 h1 span button.view_more{margin-right: 10px; margin-top: 0px;}
.har_shop_al_item {
    width: auto;
    width: 100%;
    overflow: hidden;
}
.har_shop_item_cover {
    margin: 0 auto !important;
    width: 90%;
}
.intro_com1 p{padding: 10px;}
.content_box p { padding: 10px;}
.intro_com1 h3{text-align: center;}
.foto-slide div ol li { width: 70px; height:61px;}
.foto-slide div ol li.active{ width: 70px; height:61px;}
.modal-header .close{width: 40px;height: 40px;}
.modal-header{height: 40px;}
.modal-title{ padding-top: 10px; font-size: 16px;}
.customNavigation .btn {font-size: 28px;width: 35px;height: 35px;padding: 1px;top: -25px;}
nav.navbar.bootsnav .navbar-brand{font-size: 12px;}
}

@media(max-width:575px) {

    .banner_part,
    .banner_part_two,
    .banner_part_three,
    .banner_part_four,
    .banner_part_five {
        height: 400px;
    }

    .banner_text_two {
        width: 100%;
    }

    .banner_text h2,
    .banner_text_two h2 {
        font-size: 19px;
        font-weight: 600;
        padding-top: 30px;
    }

    .banner_text h3,
    .banner_text_two h3 {
        font-size: 26px;
        padding: 10px 0;
    }

    .typed span {
        font-size: 16px;
        font-weight: 500;
    }

    .banner_button {
        margin-top: 15px;
    }

    .banner_text p,
    .banner_text_two p,
    .banner_text_five p,
    .banner_text_three p {
        display: none;
    }


    .footer_left p {
        padding-bottom: 15px;
    }

    .test_head_text h2 {
        padding-top: 25px;
        padding-bottom: 0;
    }

    .test_text p {
        font-size: 15px;
        padding-top: 13px;
    }

    .test_image {
        margin-top: 20px;
    }

    .slick-vertical .slick-slide {
        border: none;
    }

    .blog {
        margin: 15px 0;
    }

    .bar p {
        padding-top: 15px;
    }

    .hire_text h3 {
        font-size: 28px;
    }

    .hire_part {
        height: 208px;
    }

    .port_menu ul li {
        padding: 0px 5px;
    }
    .edu_text a {
        right: 20px;
        bottom: 31px;
    }

    .port_menu ul li.port_active {
        padding: 0px 7px;
    }
    .edu_slider::before {
        display: none;
    }

    .edu_slider {
        margin: 0;
        padding: 0;
    }
.performer-box ul li {
    float: left;
    width: 50% !important;
    padding: 0 15px;
    margin: 10px 0px !important;
    text-align: center;
}
.intro_com1 h1 {
    margin-top: 40px !important;
}
.intro_com1 h1 span:after {
    display: none !important;
}
.modal-title {
    font-size: 15px !important
}
    .edu_text,
    .edu_text_one,
    .edu_text_two {
        text-align: center;
    }

    .prev_arrow,
    .next_arrow,
    .arrow_dwn {
        display: none !important;
    }

    .arrow_up {
        bottom: -70px;
    }
    
    .edu_slider{
        margin-bottom: 45px;
    }
    
    .edu_text_one::before,
    .edu_text_one::after,
    .edu_text_two::before,
    .edu_text_two::after {
        display: none;
    }

    #mynav ul {
        display: block;
        margin-top: 20px;
        background: rgba(0, 0, 0, .7);
    }

    #mynav ul li {
        padding: 0px;
    }

    #mynav ul li a {
        text-align: center;
    }

    .nav-link.active::after,
    .nav-link.active::before {
        visibility: hidden;
    }
    .blog {
        margin-bottom: 30px;
    }

    .form_break {
        margin-top: 10px;
    }


    .contact_text p {
        font-size: 14px;
    }
    .intro_com1 h1, .intro_com h1 {font-size: 22px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;}
    .intro_com h1 span {top: 0px;font-size: 22px;}
    .intro_com h1 span::before {display: none;}
    .intro_com h1 {padding-left: 34%;}
    .characters_left_box {float: none;width: 225px;margin: 0 auto;}
.characters_left_box span{float: none;display: block;margin: 0;}
.characters_left_box h4 {width: 100%;margin-top: 15px;float: none;}
.characters_right_box h5 {font-size: 16px;color: #000;line-height: 25px;}
.footer_part {margin-top: 20px;}
.slider-section + .footer_part {margin-top: 0;}
.characters_right_box {float: none;width: 100%;margin-top: 10px;}
.custom_bg1 .col-md-6{width: 50%;float: left;padding-right: 15px;padding-left: 15px;}
.intro_com1 h1::before{display: none;}
nav.navbar.bootsnav{padding: 5px 0px;min-height: 80px;}
nav.navbar.bootsnav .navbar-brand{float: left !important;width: 75px;display: block;}
.navbar-brand > img {display: block;width: 100%;}
nav.navbar.bootsnav .navbar-toggle{float: right;margin: 12px 0 0 0;color: #fff;font-size: 30px;}
nav.navbar.bootsnav .navbar-nav > li {margin: 0;}
nav.navbar.bootsnav .navbar-nav{margin-top: 20px;}
nav.navbar.bootsnav ul.nav > li > a {font-size: 17px;}
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {color: #cc0000; }
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:hover {color: #ffcc33;background: none; }
.pull-right {margin: 10px 0;}
.characters_box {padding: 10px 0;}
.custom_bg1 .col-md-6 {width: 100%;float: none;text-align: center;}
.characters_left_box:hover span::before {left: -45px;}
.characters_right_box .cinema_box {margin: 10px 0;}
.characters_right_box h3 {font-size: 18px;margin-top:20px;}
.navbar-collapse{box-shadow: none;}
.contact-map h3 {top: 28%;font-size: 30px;}
.contact-sec {margin-top: -40px;margin-left: 15px;margin-right: 15px;}
.contact-sec .contact_left {width: 100%;padding: 15px;float: none;}
.contact-sec .contact_left h3 {font-size: 15px;background-size: 35px;padding-right: 35px;}
.contact-sec .contact_left h3 p {font-size: 13px;}
.contact-sec .contact_left form div.group {padding-right: 0;margin: 25px 0 0 0;width: 100%;float: none;}
.contact-sec .contact_right {width: 100%;padding: 15px;float: none;}
.contact-sec .contact_right h3 {font-size: 18px;}
.contact-sec .contact_right div {padding: 10px 0;}
.contact-sec .contact_left form button {width: 40px;height: 40px;font-size: 18px;margin-top: -25px;}
.table > tbody > tr > td{font-size: 12px; padding-right: 0px; padding-left:5px;}
.table > thead > tr > th{font-size: 13px !important;}
.table > tbody > tr > td img{padding-left: 0px; width: 30px;}
.right-slide .carousel::before { display: none;}
.intro_com1 p{padding: 10px;}
.content_box p { padding: 10px;}
.intro_com h1 { padding-left: 26%;}
.intro_com1 h3{text-align: center;}
.har_shop_item_vinyl{ display: none; }
.har_shop_al_item_bl:hover .har_shop_al_item::after { left:0px;}
.har_shop_al_item_bl:hover .har_shop_item_env {  right: 0px;}
.har_shop_al_item_bl:hover .har_shop_item_vinyl { right: 0px;}
.intro_com1 h1 span button.view_more{margin-right: 10px; margin-top: 0px;}
.har_shop_al_item {
    width: auto;
    width: 100%;
    overflow: hidden;
}
.har_shop_item_cover {
    margin: 0 auto !important;
    width: 90%;
}
.foto-slide div ol li { width: 35px; height:30px;}
.foto-slide div ol li.active{ width: 35px; height:30px;}
.modal-header .close{width: 40px;height: 40px;}
.modal-header{height: 40px;}
.modal-title{ padding-top: 10px; font-size: 16px;}
.customNavigation .btn {font-size: 28px;width: 35px;height: 35px;padding: 1px;top: -25px;}


}
@media(max-width:480px) {
.intro_com h1 { padding-left:40%;}
.foto-slide div ol li { width: 35px; height:30px;}
.foto-slide div ol li.active{ width: 35px; height:30px;}
.modal-header .close{width: 40px;height: 40px;}
.modal-header{height: 40px;}
.modal-title{ padding-top: 10px; font-size: 16px;}
.top_hdr .navbar-header a.navbar-brand{font-size: 12px;}
}

@media(max-width:320px) {
.intro_com h1 { padding-left:46%;}
.foto-slide div ol li { width: 30px; height: 26px;}
.foto-slide div ol li.active{ width: 30px; height:26px;}
.modal-header .close{width: 40px;height: 40px;}
.modal-header{height: 40px;}
.modal-title{ padding-top: 10px; font-size: 16px;}
.top_hdr .navbar-header a.navbar-brand{font-size: 12px;}

}