@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'OpenSans-Regular';
    text-align: justify !important;
}

* {
    margin: 0;
    padding: 0;
}

.no-pad {
    margin: 0px;
    padding: 0px;
}

.center-date {
    text-align: -webkit-center;
    text-align: center;
    text-align: -moz-center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style-type: none;
}

a {
    color: #cc0000;
}

p {
    font-family: 'OpenSans-Regular';
    color: #7F757D;
}

h2,
h3,
h4,
h6,
a {
    font-family: 'OpenSans-Regular';
}

.clear {
    clear: both;
}


/*== button css start ==*/



/* headaer start css */
.custom_bg {
    background: #000;
    padding: 10px 15px;
}


p {
text-align: justify !important;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.custom_bg .lang_use {
    color: #fff;
    position: absolute;
    display: inline-block;
    right: 30px;
    top: 10px;
    border-radius: 3px;
    padding: 3px;
    font-size: 10px;
}

.btn-danger {
    background: #cc0000;
    color: #fff;
    margin: 0px;
    padding: 0px 5px;
    border: none;
    transition: 0.3s;
}

.custom_bg ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: inline-block;
}

.custom_bg ul li {
    margin: 45px 0 0 0px;
    padding: 0 30px;
    display: inline-block;
}

.custom_bg ul li a {
    color: #cc0000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.custom_bg ul li a:hover,
.custom_bg ul li a.active {
    color: #ffcc33;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 80px;
    padding: 0px;
    margin: 2px 0 0;
    font-size: 10px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border-radius: 2px;

}

.btn-danger:hover {
    color: #000;
    background: #ffcc33;

}

.navbar-brand {
    padding: 0px;
}

.dropdown-menu ul li {
    margin: 0px;
    padding: 0px;
    width: 100%
}

.dropdown-menu ul li a {
    color: #cc0000;
    width: 100%;
    text-decoration: none;
    font-size: 12px;
    padding: 6px 5px;
    display: inline-block;
}

.dropdown-menu ul li a:hover {
    color: #ffcc33;
    text-decoration: none;
    font-size: 12px;
    background: #000;
    width: 100%;
    display: block;
    transition: 0.3s;
}

.intro_com h1 {
    font-family: 'OpenSans-ExtraBold';
    padding-left: 7%;
    color: #f0d8d8;
    font-size: 48px;
    margin-top: 80px;
    margin-bottom: 40px;
    font-weight: bold;
    position: relative;
}

.intro_com h1 span:before {
    content: "";
    width: 80px;
    height: 2px;
    position: absolute;
    left: 103%;
    top: 25px;
    background: #535353;
}

.intro_com h1 span {
    font-family: 'OpenSans-Bold';
    color: #1e1d1c;
    position: absolute;
    left: 0;
    top: 8px;
    z-index: 1;
    font-size: 36px;
}

.intro_com p {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    color: #1e1d1c;
    font-size: 13px;
}

.intro_com p span.rd_clr {
    color: #cc0000;
    font-weight: 600;
}

/* video over effect css */

.har_shop_al_item {
    display: block;
    width: 380px;
    position: relative;
    margin: 20px auto;
}

.har_shop_al_item_bl:hover .har_shop_al_item::after {
    left: -50px;
    display: none;
}

.har_shop_al_item::after {
    content: '';
    position: absolute;
    background-size: auto auto;
    width: 380px;
    height: 62px;
    display: none;
    top: 203px;
    z-index: -1;
    left: 10px;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.har_shop_al_item_bl:hover .har_shop_item_cover {
    margin-left: 0;
}

.har_shop_item_cover {
    width: 396px;
    height: 275px;
    display: block;
    position: relative;
    z-index: 2;
    margin-left: 0px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.har_image_bck {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.har_shop_al_item_bl:hover .har_shop_item_env {
    right: 115px;
}

.har_shop_item_env {
    background-size: auto auto;
    height: 245px;
    width: 45px;
    display: block;
    position: absolute;
    z-index: 1;
    -webkit-background-size: cover;
    background-size: cover;
    top: 0;
    margin-top: -2px;
    right: 70px;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.har_shop_al_item_bl:hover .har_shop_item_vinyl {
    right: -96px;
    display: none;
}

.har_shop_item_vinyl {
    position: absolute;
    /*background: url("../imago/rocund_box.png");*/
    background-size: auto auto;
    height: 240px;
    width: 241px;
    -webkit-background-size: cover;
    background-size: cover;
    top: 20px;
    z-index: 0;
    right: 45px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.har_shop_item_vinyl_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.har_image_bck {
    -webkit-background-size: cover;
    background-size: cover;
    /*  background-position: center;
-webkit-box-shadow: -33px 3px 48px -5px rgba(205,205,205); 
box-shadow: -33px 3px 48px -5px rgba(205,205,205);*/
}

.har_shop_item_vinyl_hole {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.intro_com1 h1 {
    font-family: 'OpenSans-Bold';
    color: #1e1d1c;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 40px;
    font-weight: bold;
    position: relative;
}

.intro_com1 h1 span {
    position: relative;
}

.intro_com1 h1 span:after {
    content: "";
    width: 45px;
    height: 2px;
    background: #535353;
    position: absolute;
    left: 20px;
    top: 21px;
}

.intro_com1 p {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    color: #1e1d1c;
    font-size: 13px;
}

.intro_com1 p span.rd_clr {
    color: #cc0000;
    font-weight: 600;
}

.intro_com1 h3 {
    color: #000;
    font-size: 19px;
    margin-top: 10px;
}

.intro_com1 h1 span button.view_more {
    color: #fff;
    background: #cc0000;
    border: none;
    font-size: 14px;
    padding: 8px 15px;
    margin-right: 60px;
    font-family: 'OpenSans-Regular';
}

.social_icon i {
    font-size: 16px;
    background: #353538;
    color: #b2b2b2;
    width: 35px;
    margin-top: 5px;
    padding: 11px;
    height: 35px;
    border-radius: 50px;
}

.social_icon i:hover {
    font-size: 16px;
    background: #cc0000;
    color: #fff;
    width: 35px;
    padding: 11px;
    height: 35px;
    border-radius: 50px;
}

.custom_bg1 {
    background: #000;
    padding: 0px 15px;
}

.custom_bg1 p {
    color: #fff;
}

.custom_bg1 p span {
    color: #ffcc33;
}

.footer_part {
    background: #000;
    padding: 10px 0px;
    margin-top: 0px;
}

.custom_bg1 span a:hover {
    color: red;
    text-decoration: none;
}

/* html6 css start */

.content_pic {
    margin: 0 0 20px 0px;
    display: inline-block;
}

.content_pic p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.content_pic1 {
    margin: 0 0 20px 0px;
    display: inline-block;
    background: #fff;
    border: solid 1px #ccc;
}


.home_banner {
    width: 100%;
    position: relative;
}

.home_banner img {
    width: 100%;
}

.banner-content {
    text-align: left;

    padding: 0;

    position: absolute !important;

    bottom: 20%;

    left: 0;

    right: 0;
}

.banner-content h1 {
    color: #ffcc33;
}

.slider-section {
    background: #202020;
    padding: 0;
    position: relative;
}

/*#chevron { position: relative; text-align: center; padding: 12px; margin-bottom: 6px; height: 60px; width: 200px; } 
#chevron:before { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 51%; background: red; -webkit-transform: skew(0deg, 6deg); -moz-transform: skew(0deg, 6deg); -ms-transform: skew(0deg, 6deg); -o-transform: skew(0deg, 6deg); transform: skew(0deg, 6deg); } 
#chevron:after { content: ''; position: absolute; top: 0; right: 0; height: 100%; width: 50%; background: red; -webkit-transform: skew(0deg, -6deg); -moz-transform: skew(0deg, -6deg); -ms-transform: skew(0deg, -6deg); -o-transform: skew(0deg, -6deg); transform: skew(0deg, -6deg); }​*/

.footer_secs {
    background: #202020;
    padding: 20px;
    min-height: 400px;
}

/* shape css */
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    margin: auto;
}

.img-title {
    position: relative;
    background-color: #fff;
    color: #000;
    width: 100%;
    text-align: center;
    opacity: 0.43;
    filter: alpha(opacity=43);
}

.slider-section .intro_com h1 {
    color: #313131;
}

.slider-section .intro_com h1 span {
    color: #fff;
}

.intro_com h1 span:before {
    background: #adadad;
}

.cinema_box {
    margin: 0;
    padding: 0;
}

.cinema_box h2 {
    color: #cc0000;
    font-weight: bold;
}

.cinema_box li {
    color: #fff;
    background: url("../imago/sign.png");
    background-repeat: no-repeat;

    background-position: left 8px;

    padding: 5px 0 5px 22px;
}

.cinema_box li span {
    color: #cc0000;
}

.footer_part1 {
    margin-top: 0;
}

.slider-control {
    width: 115px;
    margin: 15px auto;
}

.right-slide .carousel-control {
    position: inherit;
    background: none;
    opacity: 1;
    width: 25px;
    line-height: 0px;
    font-size: 27px;
    margin: 0 7px;
}

.slider-control button {
    width: 25px;

    height: 25px;

    border-radius: 100%;

    border: none;

    font-size: 13px;
}

.right-slide {
    position: relative;
}

.right-slide .carousel:before {
    content: '';
    position: absolute;
    background: url("../imago/rocund_box.png");
    background-size: auto auto;
    background-size: auto auto;
    height: 240px;
    width: 241px;
    -webkit-background-size: cover;
    background-size: cover;
    top: 20px;
    z-index: 0;
    right: 45px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.right-slide:hover .carousel:before {
    right: -96px;
    display: none;
}

/* multimedia page css start */


.table>tbody>tr {
    padding: 15px 8px;
    border-bottom: 2px solid #000 !important;
}

.table>tbody>tr>td {
    vertical-align: baseline;
    padding: 15px 8px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.table>tbody>tr>td img {
    padding-left: 8px;
}

.table>tbody>tr:last-child {
    vertical-align: bottom;
    padding: 15px 8px;
    border-bottom: none !important;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #000 !important;
    font-weight: bold !important;
    font-size: 26px !important;
    padding: 15px 8px;
    color: #000;
    font-family: 'OpenSans-Bold';
}

.tb_box {
    -webkit-box-shadow: -1px 3px 16px 5px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -1px 3px 16px 5px rgba(0, 0, 0, 0.22);
    box-shadow: -1px 3px 16px 5px rgba(0, 0, 0, 0.22);
    margin-top: 40px;
    background: #fff;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
.side .widget ul.link li a:hover,
.side .widget ul.link li a:focus,
.check-list li::before,
ul.cart-list>li>h6>a,
.attr-nav>ul>li>a:hover,
.attr-nav>ul>li>a:focus,
nav.navbar-sidebar ul.nav li.dropdown.on>a,
nav.navbar-sidebar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li a:hover,
nav.navbar ul.nav li.dropdown.on>a,
nav.navbar.navbar-inverse ul.nav li.dropdown.on>a,
nav.navbar-sidebar ul.nav li.dropdown.on ul.dropdown-menu li.dropdown.on>a,
nav.navbar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar ul.nav>li>a:hover,
nav.navbar ul.nav>li.active>a:hover,
nav.navbar ul.nav li.active>a,
nav.navbar li.dropdown ul.dropdown-menu>li a:hover {
    color: #ffcc33;
}

.modal-header {
    background: #000;
    border: none;
    padding: 0px;
    height: 70px;
}

.modal-title {
    color: #fff;
    font-size: 22px;
    padding: 20px 0 0 20px;
    text-transform: uppercase;
}

.modal-header .close {
    color: #fff;
    opacity: 1;
    font-size: 40px;
    background: #cc0000;
    width: 70px;
    height: 70px;
    margin: 0;
}

.modal-body {
    padding: 0;
}

.modal-body img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.popup_slider a {
    bottom: inherit;
    top: 48%;
    color: #fff;
    opacity: 1;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
    line-height: 37px;
}

.popup_slider a.left {
    left: 20px;
}

.popup_slider a.right {
    right: 20px;
}

.performer-box ul {
    margin-bottom: 30px;
}

.performer-box ul li {
    float: left;
    width: 20%;
    padding: 0 15px;
    text-align: center;
}

.performer-box ul li a {
    color: #000;
    position: relative;
    display: block;
}

/*.performer-box ul li a::before {content: '';
position: absolute;
background: url("../imago/rocund_box.png");
    background-size: auto auto;
background-size: auto auto;
background-size: auto auto;
background-size: auto auto;
height: 100px;
width: 100px;
-webkit-background-size: cover;
background-size: cover;
top: 32%;
z-index: -1;
right: 45px;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}*/
.performer-box ul li:hover a::before {
    right: -30px;
    display: none;
}

.performer-box ul li a img {
    width: 100%;
    display: block;
}

.performer-box ul li a h3 {
    font-size: 18px;
    font-weight: bold;
}

.performer-box ul.last_pick {
    margin: 0 auto;
    display: table;
}

.performer-box ul.last_pick li {
    width: 225px;
}

.acst-details {
    padding: 15px;
}

.acst-details div {
    width: 150px;
    text-align: center;
    float: left;
    margin-right: 20px;
}

.acst-details div img {}

.acst-details div h3 {
    font-size: 20px;
    color: #cc0000;
    font-weight: bold;
    margin: 10px 0;
}

.acst-details p {
    font-size: 16px;
    color: #000;
}

.acst-details p span {
    color: #cc0000;
    font-weight: bold;
}

.foto-slide div ol li {
    width: 80px;
    height: 70px;
    margin: 0px;
    background: #000;
    border: none;
    border-radius: 0;
}

.foto-slide div ol {
    width: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0px;
}

.foto-slide div ol li.active {
    width: 80px;
    height: 70px;
}

.foto-slide div ol li.active img {
    opacity: 0.8
}

.contact-map {
    position: relative;
}

.contact-map img {
    width: 100%;
    display: block;
}

.contact-map h3 {
    position: absolute;
    top: 40%;
    font-size: 52px;
    color: #ffcc33;
}

.contact-sec {
    box-shadow: 0px -1px 10px #808080;
    padding: 0;
    margin-top: -150px;
    z-index: 9999;
    position: relative;
    background: #fff;
}

.contact-sec .contact_left {
    float: left;
    width: 70%;
    padding: 30px;
}

.contact-sec .contact_left h3 {
    background: url("../imago/mail.jpg") no-repeat right center;
    font-size: 26px;
    color: #cc0000;
    font-weight: bold;
}

.contact-sec .contact_left h3 p {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    margin-top: 5px;
}

.contact-sec .contact_left form div.group {
    width: 50%;
    padding-right: 30px;
    margin: 40px 0 0 0;
    position: relative;
    float: left;
}

input,
textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #e0e0e0;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 12px;
    color: #818181;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ffcc33;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after,
textarea:focus~.bar:before,
textarea:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight,
textarea:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #ffcc33;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #ffcc33;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #ffcc33;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.contact-sec .contact_left form div.message-box {
    width: 100%;
}

.vwt-FormGroup {
    position: relative;
    margin-top: 30px
}

input.vwt-Input,
textarea.vwt-Input {
    border: 0;
    border-bottom: 1px solid #bab9ba;
    display: block;
    font: 16px "Open Sans", sans-serif;
    font-weight: 400;
    padding: 10px 10px 10px 5px;
    width: 100%
}

.vwt-Input:focus {
    outline: 0
}

label.vwt-Input {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    left: 5px;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: .4s ease all
}

.vwt-Input:focus~label.vwt-Input,
.vwt-Input~label.vwt-Input.vwt-InputHasValue {
    color: #818181;
    font-size: 12px;
    font-weight: 600;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%)
}

label.vwt-Input.vwt-NoFloat {
    color: #ffcc33;
    font-size: 12px;
    font-weight: 600;
    top: 15px
}

.vwt-Input:focus~label.vwt-Input.vwt-NoFloat,
.vwt-Input~label.vwt-Input.vwt-NoFloat.vwt-InputHasValue {
    font-size: 12px;
    top: 15px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none
}

.bar {
    display: block;
    position: relative;
    width: 100%
}

.bar:after,
.bar:before {
    content: '';
    background: #ffcc33;
    bottom: 1px;
    height: 2px;
    position: absolute;
    width: 0;
    transition: .6s ease all
}

.bar:before {
    left: 50%
}

.bar:after {
    right: 50%
}

.vwt-Input:focus~.bar:after,
.vwt-Input:focus~.bar:before {
    width: 50%
}

.vwt-Input:invalid~label.vwt-Input {
    color: #D9534F
}

.vwt-Input:invalid~.bar:before,
.vwt-Input:invalid~.bar:after {
    background: #D9534F
}

.vwt-FormGroup textarea {
    overflow: auto;
    resize: none !important
}

.vwt-Highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5
}

input.vwt-Input:focus~.vwt-Highlight,
textarea.vwt-Input:focus~.vwt-Highlight {
    -webkit-animation: vwt-Input-Higlighter 0.3s ease;
    animation: vwt-Input-Higlighter 0.3s ease
}

@-webkit-keyframes vwt-Input-Higlighter {
    from {
        background: #ffcc33
    }

    to {
        width: 0;
        background: 0 0
    }
}

@keyframes vwt-Input-Higlighter {
    from {
        background: #ffcc33
    }

    to {
        width: 0;
        background: 0 0
    }
}

.vwt-Indent-xs {
    text-indent: 40px
}

.vwt-Indent-sm {
    text-indent: 80px
}

.vwt-Indent-md {
    text-indent: 120px
}

.vwt-Indent-lg {
    text-indent: 160px
}

.contact-sec .contact_left form button {
    background: #cc0000;

    border: none;

    color: #fff;
    transition: all .2s ease-in-out;
    width: 60px;

    height: 60px;

    border-radius: 100%;

    font-size: 25px;

    box-shadow: 0px 0px 15px #a8a8a8;

    float: right;
    margin-top: -37px;
    position: relative;
}

.contact-sec .contact_left form button:hover {
    background: #ffcc33;
}


.contact-sec .contact_right {
    float: right;
    width: 30%;
    padding: 30px;
    background: #cc0000;
    color: #fff;
}

.contact-sec .contact_right div {
    padding: 15px 0;
}

.contact-sec .contact_right h3 {
    font-size: 22px;
    font-weight: bold;
}

.contact-sec .contact_right div img {
    float: left;
    width: 40px;
    height: 40px;
}

.contact-sec .contact_right div p {
    color: #fff;
    font-size: 14px;
    line-height: 40px;
}

.contact-sec .contact_right div p a {
    color: #fff;
    margin: 11px 0 0 0;
    display: block;
}

.contact-sec .contact_right img.c-logo {
    display: table;
    margin: 0 auto;
}

.performer-box .characters_box {
    padding: 30px 0;
    display: block;
    /*min-height: 400px;*/
}

.characters_left_box {
    float: left;
    width: 30%;
}

.characters_left_box span {
    float: right;
    position: relative;
    box-shadow: 0px 0px 10px #4b4b4b;
    margin-right: 25px;
    margin-top: 5px;
}

.characters_left_box span img {}

.characters_left_box span:before {
    content: '';
    position: absolute;
    background: url("../imago/rocund_box.png");
    background-size: auto auto;
    background-size: auto auto;
    background-size: auto auto;
    background-size: auto auto;
    background-size: auto auto;
    background-size: auto auto;
    height: 150px;
    width: 150px;
    -webkit-background-size: cover;
    background-size: cover;
    top: 27%;
    z-index: -1;
    left: 45px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.characters_left_box:hover span:before {
    left: -58px;
    display: none;
}

.characters_left_box h4 {
    font-size: 18px;
    color: #000;
    width: 82%;
    float: right;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.characters_right_box {
    float: left;
    width: 70%;
}

.characters_right_box h3 {
    font-size: 24px;
    font-weight: bold;
    color: #c30000;
    margin-bottom: 10px;
}

.characters_right_box h3 abbr {
    font-size: 14px;
}

.characters_right_box p {
    color: #000;
    font-size: 14px;
}

.characters_right_box h5 {
    font-size: 20px;
    color: #000;
    line-height: 30px;
    text-align: justify;
}

.characters_right_box p span {
    color: #c30000;
    font-weight: bold;
}

.characters_right_box .cinema_box li {
    color: #000;
}

.characters_right_box .cinema_box li span,
.characters_right_box h5 span {
    color: #c30000;
}

.characters_right_box .cinema_box {
    margin: 20px 0;
}

.the_plot .characters_box {
    padding: 0;
}

.the_plot .characters_right_box {
    float: none;
    width: 100%;
}

.the_plot .characters_right_box p {
    line-height: 30px;
}


/*Press-Review Start*/
.press-review ul li a::before {
    display: none !important;
}

.press-review ul li {
    float: left;
    width: 25%;
    padding: 0 15px;
    text-align: center;
}

.press-review ul li a img {
    width: 60%;
    display: block;
}

/*Press-Review End*/
/* ram css modal css start */
.modal_text_details .acst-details span button.view_more {
    color: #fff;
    background: #cc0000;
    border: none;
    font-size: 14px;
    padding: 8px 15px;
    margin-right: 60px;
    font-family: 'OpenSans-Regular';
    width: 90px;
    margin: auto;
    display: block;
}

.modal_text_details .acst-details h4 {
    font-size: 20px;
    color: #ffcc33;
    margin: 10px 0 10px 0px;
    font-weight: bold;
    text-align: center;
}

.modal_text_details .acst-details h6 {
    font-size: 18px;
    color: #cc0000;
    margin: 30px 0 0px 0px;
    font-weight: bold;
}

.modal_text_details .acst-details p {
    margin: 15px 0px;
}

.top_hdr .navbar-header .navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 5px;
}

nav.navbar.bootsnav.top_nav ul.nav>li>a {
    padding: 12px 25px;
    font-weight: 600;
}

nav.navbar.bootsnav.top_nav li.dropdown ul.dropdown-menu>li>a {
    padding: 10px 15px;
    border-bottom: solid 1px #35363a;
    color: #cc0000;
    font-weight: bold;
    font-size: 14px;
}

nav.navbar.bootsnav.top_nav li.dropdown ul.dropdown-menu>li>a:hover {
    padding: 10px 15px;
    border-bottom: solid 1px #35363a;
    color: #ffcc33;
    font-weight: bold;
    font-size: 14px;
}


.open>.dropdown-menu {
    display: block;
}

.dropdown-menu ul {
    margin: 0px;
}

/* ram css modal css end */

.cus-nav nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
    border-radius: 0px 0 5px 5px;
    padding: 0 0 0 0;
    min-width: 140px !important;
    background: #1f2024;
    border-top: solid 1px #35363a;
    float: left;
}

.cus-nav .navbar-right .dropdown-menu {
    /* right: 20px; */
    left: 25px;
}

.cus-nav nav.navbar.bootsnav.top_nav li.dropdown ul.dropdown-menu>li>a {
    padding: 10px !important;
    border-bottom: solid 1px #35363a;
    color: #cc0000;
    font-weight: bold;
    font-size: 14px;
}

.cus-nav nav.navbar.bootsnav.top_nav li.dropdown ul.dropdown-menu>li>a:hover {
    padding: 10px !important;
    border-bottom: solid 1px #35363a;
    color: #ffcc33;
    font-weight: bold;
    font-size: 14px;
}

.cus-nav .language {
    right: 0px !important;
    left: auto !important;
}


/* lalchand css 16-12-2018 */


.container-fluid img {
    width: 100%;
    text-align: center;
    max-width: 100%;
}

.customNavigation .btn {
    color: #fff;

    font-size: 35px;

    background: #000;

    width: 50px;

    height: 50px;

    border-radius: 100%;

    line-height: 0;
    position: absolute;

    top: 20px;
}

.customNavigation .prev {
    left: 45px;
}

.customNavigation .next {
    right: 45px;
}

.lang_use img {
    width: auto !important;
}

.item audio {
    width: 100%;
    margin: 15px 0px;
}

.top_hdr .navbar-header a.navbar-brand {
    height: auto;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}