.h {
	color: #FFCC33;
	font-family: Verdana, Geneva, sans-serif;
}
a:hover {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 16px; font-style: normal; font-weight: bold;
color: #FFCC33; 
text-decoration: none;
}

a {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 14px; font-style: normal; font-weight: bold;
color: #CC0000;
text-decoration: none;
}

#blog {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

#blog:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #FFCC33;
	text-decoration: none;
}
#minilink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #FFCC33;
	text-decoration: none;
}
#minilink:hover {
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-small;
}
#titolo:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFCC33;
	text-decoration: none;
}
#titolo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
#linkind {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
#linkind:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFCC33;
	text-decoration: none;
}
#titoltimes20 {
	font-family: Times New Roman, Times, serif;
	font-size: 22px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
#titoltimes20:hover {
	font-family: Times New Roman, Times, serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFCC33;
	text-decoration: none;
}
#titoltimes28 {
	font-family: Times New Roman, Times, serif;
	font-size: 28px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
#titoltimes28:hover {
	font-family: Times New Roman, Times, serif;
	font-size: 30px;
	font-weight: bold;
	color: #FFCC33;
	text-decoration: none;
}
#rassegna {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
#rassegna:hover {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFCC33;
	text-decoration: none;
}
#ticket {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
#ticket:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFCC33;
	text-decoration: none;
}
#privacy:hover {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 16px; font-style: normal; font-weight: bold;
color: #FFCC33; 
text-decoration: none;
}

#privacy {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 16px; font-style: normal; font-weight: bold;
color: #CC0000;
text-decoration: none;
}

#faust {
width: 100%; height: 100%; top: 0; left: 0;
background: url(imago/sfondofaust.jpg) no-repeat center top; position: fixed; z-index: -1;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#mefisto {
width: 100%; height: 100%; top: 0; left: 0;
background: url(imago/mefisfondo.jpg) no-repeat center top; position: fixed; z-index: -1;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}